/*  HEADER */
body{

    background-image: url('../img/verdure2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.9;
    
}
.navbar
{
    background-color: #016359;
    height: 65px;
    
}
.nav a
{
    color: white;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    
    
}
.nav a:hover
{
    color:  #bb86fc;
    border-bottom: 1px solid #bb86fc;
    transition: color 0.3s linear;
    
}

.nav a:active
{
    font-size: larger;
    font-weight: bold;
}

/* Logo */
#logo_name_text
{
    margin-left: -15px;
    margin-top: -22px;
}
#logo
{
    float: left;
    margin-left: -30px;
    margin-bottom: -21px;
    
}
.logo_name
{
    color:white;
    margin-bottom: -10px;
    line-height: 30px;
    letter-spacing: 0.8px;
    font-size: 120%;
    font-family: arial;
}
.nameGaia
{
    font-size: 160%;
    letter-spacing: 1px;
    font-family: arial;
}
/* PAGE REGISTER */
.form-group
{
    background-color: #82cc9f;
    margin-top: 15px;
    padding-bottom: 1px;

}
.form-group, h3
{
    color: #01453f;
    
}
.btn
{
    background-color: #bb86fc;
    color: white;

}
@media screen and (max-width: 720px)
{
    #text_logo, #logo_name_text
    {
        display: none;
    }
    nav.navbar
    {
        display: flex;
        justify-content: center;
        
    }
}