/*  HEADER */
body{

    background-image: url('../img/verdure2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.9;
    
}
.navbar
{
    background-color: #016359;
    height: 65px;
}
nav > ul > li
{
    float: left;
    position: relative;
}
.nav a
{
    color: white;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}
.nav a:hover
{
    color:  #bb86fc;
    transition: color 0.3s linear;
}

.nav a:active
{
    font-size: larger;
    font-weight: bold;
}
.submenu
{
    list-style-type: none;
    display: none;
    margin-left: -28px;
    background-color: #0e6a5c;
    width: 150%;
}
nav > ul::after
{
    content: "";
    display: block;
    clear: both;
    
}
nav li:hover .submenu
{
    display: inline-block;
    position: absolute;
    z-index: 10000;
}
/* Logo */
#logo_name_text
{
    margin-left: -15px;
    margin-top: -14px;
}
#logo
{
    float: left;
    margin-left: -30px;
    margin-top: 5px;
    
}
.logo_name
{
    color:white;
    margin-bottom: -10px;
    line-height: 33px;
    letter-spacing: 0.8px;
    font-size: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nameGaia
{
    font-size: 160%;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* PAGE REGISTER */
.form-group
{
    background-color: #82cc9f;
    margin-top: 15px;
    padding-bottom: 1px;

}
.form-group, h3
{
    color: #01453f;
    
}
.btn
{
    background-color: #bb86fc;
    color: white;

}
/* Responsive  */
@media screen and (max-width: 720px)
{
    #text_logo, #logo_name_text
    {
        display: none;
    }
    nav.navbar
    {
        display: flex;
        justify-content: center;
        
    }
}