/*  HEADER */
body{

    background-image: url('../img/verdure2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.9;
    
}
.navbar
{
    background-color: #016359;
    height: 60px;
    
}
.nav, a
{
    color: white;
}
.nav a:hover
{
    color:  #bb86fc;
    border-bottom: 1px solid #bb86fc;
}
/* Logo */
#logo
{
    margin-left: -30px;
    margin-bottom: -21px;
}
.logo_name
{
    color:white;
}
.nameGaia
{
    font-size: 150%;
    

}
/* PAGE REGISTER */
.form-group
{
    background-color: #82cc9f;
    margin-top: 15px;
    padding-bottom: 1px;

}
.form-group, h3
{
    color: #01453f;
    
}
.btn
{
    background-color: #bb86fc;
    color: white;

}
