{% extends 'base.html.twig' %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock title %}

{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock header %}

    <div class="container">
        <h1>Portfolio</h1>
        <div class="portfolio">
            <div class="project">
                <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                <h2 class="project_image">Texte image</h2>
                <div class="project_description">Texte de description de mon annonce</div>
                <div class="project_body">
                    <h3>Titre de l'annonce</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                    <p><a href="#">En savoir plus...</a></p>
                </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            <div class="project">
                    <img src="http://via.placeholder.com/350x350" alt="image annonce" class="project_image">
                    <h2 class="project_image">Texte image</h2>
                    <div class="project_description">Texte de description de mon annonce</div>
                    <div class="project_body">
                        <h3>Titre de l'annonce</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae nisi vero quidem. Explicabo, qui vitae commodi error enim veritatis aliquam numquam sunt deleniti repudiandae necessitatibus itaque quo nobis nulla.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias veniam animi error nemo asperiores voluptates quos soluta saepe odit, in dolores atque veritatis perspiciatis quam architecto delectus dicta! Veritatis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, illum distinctio eaque excepturi quibusdam velit aut sint voluptatibus dolores tenetur! Eaque impedit deserunt voluptates eveniet expedita dicta qui a recusandae!</p>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
            </div>
            
        </div>
    </div>


    
{% endblock body %}