{% extends 'base.html.twig' %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock title %}

{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock header %}

    {# Ici la carte #}
    <div class="container-fluid">
        <div id="map"></div>
    </div>
    
    
{% endblock body %}