{% extends 'base.html.twig' %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock title %}

{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock header %}

    {# Ici la carte #}
    <div class="container-fluid">
        <div id="map"></div>
    </div>

    
    
    {% block javascripts %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDScYkZVXEttgDmYjC7kHCcWdmu8kp6Q08"></script>
    <script src="{{ asset('js/Map.js') }}"></script>
    <script>
        window.addEventListener('load', () => {const map = new Map()});
    </script>
    {% endblock javascripts %}

{% endblock body %}