{% extends 'base.html.twig' %}

{% block title %}
    Admin - {{ parent() }}
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css"> 
    {{ parent()}}
{% endblock stylesheets %}

{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock header %}
    {# Ici affichage de la météo et des détails du profil #}
    <div class="container-fluid">
        <div class="row" id="weather">
            <aside class="col-sm-3 col-lg-3" id="aside_weather">
                <h1>
                    <span id="town">Paris</span>
                    <span id="info_town">Tapez ici votre ville</span>
                </h1>
                <i class="wi wi-day-rain" id="icon_weather"></i>
                <h2>
                    <span id="temp"></span> C° (<span id="conditions">Ciel dégagé</span>)
                </h2>
                <h3>
                    Taux d'humidité 
                </h3>
                <h4><span id="humidity"></span>%</h4>
            </aside>

            <section class="col-sm-9 col-lg-9" id="section_profil">
                
                <div class="col-sm-2 col-lg-2" id="picture_avatar">

                </div>
                <div class="col-sm-7 col-lg-7"id="profil">

                </div>
                
            </section>
        </div>

    </div>

    {% block javascripts %}
        <script src="{{ asset('js/Weather.js') }}"></script>
    {% endblock javascripts %}

{% endblock body %}