<!DOCTYPE html>
<html>
  <head>
    <title>Affichage de l'annonce {{ id }}</title>
  </head>
  <body>
    <h1>Voici l'annonce n°{{ id }} !</h1>
    <p>Et, son tag éventuel : {{ tag }}</p>
  </body>
</html>