<!DOCTYPE html>
<html>
    {% block head%}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}GAIA{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        {% endblock stylesheets %}

    </head>
    {% endblock head %}
    <body>
        {% block body %}
        
        {% block header %}
        <header>
            <nav class="navbar navbar">
                <a class="navbar-brand navbar-toggler" href="{{ path('home') }}" title="Cliquez ici pour retourner à l'accueil"><strong class="nameGaia">GAIA</strong><em>, le site d'échanges et de partages des jardiniers</em></a>
                <img src="{{ asset('img/logo.png') }}" alt="image d'un tournesol" id="logo">
            </nav>
        </header>
        {% endblock header %}

        {% endblock body %}
        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
