{% extends 'base.html.twig' %}

{% block title %}
    Tableau de bord - {{ parent() }}
{% endblock title %}

{% block body %}
    
        {% block header %}
            {{ parent() }}
        {% endblock header %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

   
    
{% endblock body %}